<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>fjord-create-wip</string>
	<key>connections</key>
	<dict>
		<key>2065D1ED-4AC2-4552-A615-65C71DED6235</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>28112993-BB37-4E79-BA5A-690769352C3B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>28112993-BB37-4E79-BA5A-690769352C3B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4FA3A88A-553A-4C77-BD66-EC68308CC221</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>mh</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>fjord-create-wip</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>投稿しました！</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4FA3A88A-553A-4C77-BD66-EC68308CC221</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>fjord-create-wip</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>fjord-create-wip</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2065D1ED-4AC2-4552-A615-65C71DED6235</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>ruby action.rb</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>28112993-BB37-4E79-BA5A-690769352C3B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2065D1ED-4AC2-4552-A615-65C71DED6235</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>28112993-BB37-4E79-BA5A-690769352C3B</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>4FA3A88A-553A-4C77-BD66-EC68308CC221</key>
		<dict>
			<key>xpos</key>
			<integer>800</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>loginname</key>
		<string></string>
		<key>password</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>loginname</string>
		<string>password</string>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
